@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,600&display=swap');


body {
  font-family: "Lato", sans-serif;
  display: grid;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;

}

p {
  line-height: 1.5em;
  margin: 0;

}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}

.about-img{
  padding-top: 15px;
  padding-bottom: 15px;
}

.host-img{
  padding-top: 15px;
  padding-bottom: 15px;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px
}


header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
  display: flex;
  justify-content: center;
}

header nav ul {
  text-decoration: none;
  justify-content: center;
  display: flex;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

form {
  border: 2px solid #ff385c;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form label {
  font-weight: bold;
  padding-right: 10px;
}

form button:hover{
  color: #00a699;
  text-decoration: none;
} 


.form-input {
  justify-content: space-between;
  display: flex;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}



footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

.github-link{
  text-align: center;
  padding-top: 30px;
}

/*   Media Query */
@media all and (min-width: 480px) {
  form {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
    padding: 10px 10px 10px 10px;
  }

  form div {
    display: flex;
    flex-direction: column;
  }

  form label {
    padding-bottom: 15px;
    font-weight: bold;
  }

  .form-input {
    padding-right: 15px;
    justify-content: center;
  }

  button {
    justify-content: center;
  }

  .group {
    justify-content: center;
    flex-direction: row;
    display: flex;
    align-items: center;
  }

  .item button
  .item input
  .item label
  .item select {
    display: flex;
    width: 100%;
  }

  .item {
    flex: 1;
    margin: 15px;
  }

  .item-double {
    flex: 2;
    margin: 15px;
  }

  p {
    padding-left: 10px;
    padding-right: 10px;
  }
}


